:root {
    --ColorPrincipal: black;
    --ColorSecundario: white;
    --TipografiaSecundaria: "Bebas Neue", sans-serif;
    --Tipografia: font-family: "Open Sans", sans-serif;
    --Altura: 240px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main {
    min-height: calc(100vh - var(--Altura));
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    padding: 10px 20px;
    
    i {
        color: var(--ColorSecundario);
        padding: 5px 10px;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    a {
        color: var(--ColorSecundario);
    }

    button {
        background-color: var(--ColorSecundario);
        color: var(--ColorPrincipal);
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
    }
}

.bannerContenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .titulo {
        font-size: 30px;

    }

    .comprarAhora {
        background-color: var(--ColorPrincipal);
        color: var(--ColorSecundario);
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
    }

}

.bannerImagen {
    width: 100%;
    height: 500px;
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;

    }

    .etiqueta {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 5px;
        color: var(--ColorSecundario);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--ColorPrincipal);
        font-family: var(--TipografiaSecundaria);

    }
}

.productosDestacados {
    h2 {
        font-family: var(--TipografiaSecundaria);
        font-size: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}

.tarjetasProducto {
    width: 100%;
    display: flex;

    .tarjetaProducto {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        padding: 10px;

        img {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
        }

        h3 {
            font-family: var(--TipografiaSecundaria);
            ;
            font-size: 17px;
            margin-bottom: 10px;
        }

        .verProducto {
            background-color: var(--ColorPrincipal);
            color: var(--ColorSecundario);
            padding: 5px 10px;
            border-radius: 5px;
        }

    }
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}

.beneficios {
    background-color: var(--ColorSecundario);
    h2 {
        padding: 20px;
        font-family: var(--TipografiaSecundaria);
        font-size: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

}

.beneficioContenido {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 50px;
    .beneficio {
        width: 25%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    i {
        padding: 10px;
        width: 100%;
        font-size: 20px;
        color: var(--ColorPrincipal);
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    h3 {
        font-family: var(--TipografiaSecundaria);
        font-size: 17px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    p {
        font-family: var(--Tipografia);
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;

        .footerColumn {
            width: 25%;
            height: 100%;
            padding: 25px;

            h3 {
                font-family: var(--TipografiaSecundaria);
                font-size: 17px;
                margin-bottom: 10px;
            }
        }


    }
}